* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #676858;
  font-weight: 300;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

h2 {
  font: 300 2em "Lato", sans-serif;
  margin: auto;
  color: #bcbbbb;
  padding: 0.5em;
}

a:link {
  color: #bcbbbb;
  text-decoration: none;
}

a:visited {
  color: #bcbbbb;
  text-decoration: none;
}

.logo {
  height: 100px;
  width: 100px;
}

.link {
  text-align: center;
}

.subtitle {
  font: 300 1em "Lato", sans-serif;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  display: block;
  margin: 0.1em auto 0.5em auto;
  border: 2px inset;
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.top-margin {
  margin-top: 20px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  p {
    display: none;
  }
}
